/*****************************************************************
* Generic styles
******************************************************************/
body {
	font-family: Helvetica, Arial, sans-serif;
	min-width: 850px;
}

a{
  color:#002EB8;
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

.line{
  background:#CCCCCC none repeat scroll 0 0;
}

.t1, .t2 {
  font-size:1px;
  height:1px;
  line-height:1px;
  overflow:hidden;
}

.t1{
  margin:0 2px;
}

.t2 {
  margin:0 1px;
}

/*****************************************************************
* Page structure
******************************************************************/
#searchApp{
  margin:0 auto;
  width:1024px;
}

#Content_Theme{
	padding-top:10px;
	padding-left:10px;
	width: 780px;
	float: left;
}

/*****************************************************************
* Query input
******************************************************************/
#QueryInput_Theme {
  background-color:#CCCCCC;
  min-height:25px;
  padding-bottom:10px;
  padding-top:10px;
  padding-right:5px;
  width:100%;
}

#QueryInput_Theme #queryform {
	margin: 0px;
}

#QueryInput_Theme #searchInput{
  background-image:url('../images/searchInputBox.png');
  float:left;
  height:23px;
  margin-left:10px;
  width:210px;
}

#QueryInput_Theme #queryInput {
  border:0 none;
  font-size:100%;
  font-family:arial;
  height:20px;
  margin:2px 0 10px 25px;
  padding:0 0 0 3px;
}

#QueryInput_Theme #searchbutton {
	padding: 0px;
	margin-top:1px;
	vertical-align: bottom;
	width: 69px;
	border: 0px;
	height:22px;
	background-image: url('../images/searchBtn.png');
	background-repeat: no-repeat;
	background-color: transparent;
}

#QueryInput_Theme #searchbutton:hover {
	cursor: pointer;
}

/*****************************************************************
* Autocomplete on search field
******************************************************************/
#Autocomplete_Theme {
  display: none;
  position: absolute;
	margin-left:10px;
	padding: 1px 0px 0px 3px;
	border: 1px solid #CCCCCC;
  background-color: white;
	width: 205px;
  z-index: 1000;
}

#Autocomplete_Theme ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

/*****************************************************************
* Results in progress
******************************************************************/
#ResultsInProgress_Theme{
  height:350px;
  background: transparent url('../images/inProgress.gif') no-repeat scroll center center;
}

/*****************************************************************
* Results
******************************************************************/
#Results_Theme em{
  font-style:normal;
  font-weight:bold;
}

#Results_Theme #zerohits {
	padding: 0px 0px 0px 8px;
}

#Results_Theme #zerohits h1 {
	font-size: 110%;
	margin: 10px 0px 10px 0px;
	padding: 0px;
}

#Results_Theme ul {
	list-style: none;
	margin: 0px;
	padding: 0px 5px;
}

#Results_Theme ul li {
	margin: 0px 0px 15px 0px;
}

#Results_Theme .resultbody {
	margin: 1px 0px 0px 0px;
	font-size: 75%;
}

#Results_Theme .resultfooter{
	font-size: 75%;
	color: green;
}

#Results_Theme .resultfooter a{
  color:green;
}

#Results_Theme .resultfooter span.date{
  float: right;
  font-size:11px;
  color:#999999
}

/*****************************************************************
* Facets
******************************************************************/

#Facets_Theme{
  display:none; // Will be enabled by theme
  margin-top:10px;
  float:right;
}

#facets {
	padding: 0 0 10px;
	margin: 0px;
	width: 200px;
	float: left;
	border:2px solid #CCCCCC;
}

#facets h1 {
	font-size: 90%;
	margin: 10px 0px 0px 0px;
	padding: 0 0 3px;;
	text-transform: uppercase;
	
}

#facets div.facet {
	font-size: 90%;
	margin: 1px 0px 5px 20px;
	padding: 0px;
	float:left;
	clear:left;
	width:100%;
}

#facets div.facet span, #facets div.facet a {
	color: blue;
	margin: 0px 4px 2px 0px;
}

#facets div.facet ul{
  list-style: none;
  margin: 0px;
  padding: 0 0 5px;
}

#facets div.facet a{
  color:#005A8B;
}


#facets div.facet a:hover {
	cursor: pointer;
}

#facets div.facet span {
	color: #aaa;
	margin: 0px;
	padding: 0px 0px 2px 0px;
}

#facets #InactiveFacets_Theme .moreFacetsActive{
  display:block;
}

#facets #InactiveFacets_Theme .moreFacetsInactive{
  display:none;
}

#facets #InactiveFacets_Theme a.moreFacets{
  font-size:10px;
  color:#700000
}

#facets #ActiveFacets_Theme span.header{
float:left;
clear:left;
padding-right:5px;
}

#facets #ActiveFacets_Theme span.remove{
  background:transparent url('../images/remove.png') no-repeat scroll center center;
  display:block;
  height:7px;
  margin-top:5px;
  width:7px;
  float:left;
}

#facets #ActiveFacets_Theme span.remove:hover{
  cursor: pointer;
}

#facets #ActiveFacets_Theme a{
  clear:none;
  float:left;
}

#ActiveFacets_Theme .morefacets:hover, #ActiveFacets_Theme .removefilter:hover {
	cursor: pointer;
}

/*****************************************************************
* Search suggestions
******************************************************************/
#Searchsuggestion_Theme {
	font-weight: bold;
	color: blue;
}

#Searchsuggestion_Theme:hover {
	cursor: pointer;
}

/*****************************************************************
* Spelling suggestions
******************************************************************/
#SpellSuggestions_Theme{
  padding:3px;
  float:left;
  width:100%;
  margin-left: 12px; 
  font-size: 13px; 
  font-family: arial; 
  color: darkred;
}

/*****************************************************************
* Result bar (sorting, hits)
******************************************************************/
#ResultBar_Theme {
  float:left;
	font-size: 80%;
	background-color: #F2F2F2;
	padding: 3px 0px 3px 6px;
	width: 100%;
	text-align: right;
	min-height: 15px;
}

#ResultBar_Theme #sortbar div, #sortbar span{
  padding:4px 6px;
}

#ResultBar_Theme #sortbar {
	text-align: left;
	float: left;
	width:100%;
}

#ResultBar_Theme #sortbar div.sort{
  float:left;
  margin-left:10px;
  border: 1px solid transparent;
}

#ResultBar_Theme #sortbar div.sort.active{
  border: 1px solid #888888;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

#ResultBar_Theme #sortbar div.sort a{
  font-weight:bold;
}

#ResultBar_Theme #sortbar div.sort.active a{
  color:black;
}

#ResultBar_Theme #sortbar span.text{
  float:left;
  padding:0px;
}

#ResultBar_Theme #sortbar div.sort_asc, #ResultBar_Theme #sortbar div.sort_desc{
  float:left;
  margin-top:4px;
  padding:0px;
  width:12px;
  height:12px;
}

#ResultBar_Theme #sortbar div.sort.active div.sort_asc{
  background: transparent url('../images/ascending.gif') no-repeat scroll center center;
}

#ResultBar_Theme #sortbar div.sort.active div.sort_desc{
  background: transparent url('../images/descending.gif') no-repeat scroll center center;
}

#ResultBar_Theme #sortbar span.left{
  float:left;
  font-weight:bold;
  padding-top:5px;
}

#ResultBar_Theme #sortbar span.right{
  float:right;
}

#ResultBar_Theme #sortkey {
	color: blue;
}

#ResultBar_Theme #sortkey:hover {
	cursor: pointer;
}

/*****************************************************************
* Paging
******************************************************************/
#Paging_Theme {
	clear: both;
	float:left;
	width: 800px;  
	padding:0 0 0 15px;
}

#Paging_Theme ul{
  float:left;
  list-style: none;
  padding:0;
  margin:0;
}

#Paging_Theme li{
  float:left;
  padding-right:10px;
}

/*****************************************************************
* Hide prototypes
******************************************************************/
#Prototypes{
  display:none;
}
